.root
  background-color: #ECFEFE
  padding: 40px 20px 0
  border-radius: 50px

.content
  display: grid
  grid-template-columns: 1fr

  @media screen and (min-width: 1024px)
    grid-template-columns: 1.4fr 1fr
    align-items: center

.text_content
  text-align: center
  @media screen and (min-width: 1024px)
    text-align: left
    max-width: 70%

.btn_container
  display: flex
  align-items: center
  margin-top: 30px
  justify-content: center
  gap: 20px

  @media screen and (min-width: 1024px)
    justify-content: start

.description
  color: #4A5050
  margin-top: 20px
  font-weight: 600
  font-size: 16px

.heading
  font-size: 32px
  line-height: 36.6px
  margin-top: 16px

.overline
  color: #07969E
  font-weight: 500

.image
  width: 70%
  height: auto
