.root
  display: grid
  padding: 40px 0
  gap: 40px

  @media (min-width: 1024px)
    display: flex
    align-items: center
    justify-content: space-between


.text_container
  @media screen and (min-width: 1024px)
    width: 45%

.heading
  font-size: 40px
  color: #07969E
  font-weight: bold
  line-height: 60px
  text-align: center

  @media (min-width: 1024px)
    font-size: 54px
    color: #07969E
    text-align: left

.description
  font-size: 16px
  line-height: 24px
  text-align: center
  font-weight: 400
  margin-top: 16px

  @media (min-width: 1024px)
    font-weight: 500
    text-align: left

.button_container
  display: flex
  gap: 18px
  justify-content: center
  align-items: center
  margin-top: 24px

  @media (min-width: 1024px)
    justify-content: flex-start

.button
  border: 0
  background: none
  cursor: pointer

  &:hover
    opacity: 0.7

.hero_image_container
  display: flex
  justify-content: center

  @media (min-width: 1024px)
    justify-content: flex-end
    align-items: center
    width: 50%

  & img
    display: inline-block
    width: 60%
    height: auto

    @media (min-width: 1024px)
      width: 194px


