.root
  padding: 20px 0

.header
  text-align: center
  display: grid
  gap: 20px

.heading
  font-size: 32px
  line-height: 32px
  color: #2D2D2D
  font-weight: 600

  @media (min-width: 1024px)
    font-size: 40px
    line-height: 48px

.description
  font-size: 16px
  color: #2d2d2d
  font-weight: 500

  @media (min-width: 1024px)
    font-weight: 400

.card_container
  display: grid
  gap: 40px
  grid-template-columns: 1fr
  margin-top: 30px

  @media (min-width: 1024px)
    grid-template-columns: repeat(3, 1fr)
    margin-top: 40px

.card
  position: relative
  border: 2px solid #919FB533
  overflow: hidden
  box-sizing: border-box
  background-clip: padding-box
  display: flex
  flex-direction: column
  border-radius: 5px

  &_header
    height: 150px

  &_body
    padding-top: 60px
    background: white
    position: relative
    color: #4A5050
    text-align: center
    flex: 1

    &_inner
      padding: 16px
      flex: 1

    &_title
      font-size: 24px
      color: #4A5050

    &_description
      font-size: 16px
      line-height: 24px
      margin-top: 16px

    &_misc
      margin-top: 4px

      & span
        opacity: 0.5

    &_button
      margin-top: 30px
      margin-bottom: 20px
      font-weight: 600
      font-size: 16px


  &_image_container
    height: 100px
    width: 100px
    border-radius: 50%
    position: absolute
    top: -50px
    left: 50%
    transform: translateX(-50%)
    background: white
    display: flex
    justify-content: center
    align-items: center
